@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

/* Add the global styles for pagination bullets */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
  width: 12px !important;
  height: 12px !important;
  margin: 0 5px !important;
  border-radius: 6px !important; /* Make the bullets circular */
  transition: transform 0.3s !important; /* Add a transition effect */
}

.swiper-pagination-bullet-active {
  background: #e74c3c !important; /* Change the color of the active bullet */
  opacity: 1 !important; /* Set opacity to 100% */
  width: 60px !important;
  height: 12px !important;
  border-radius: 6px !important;
  transform: scale(1) !important; /* Scale up the active bullet */
}
